/* estilos del header*/
#barraNav{
    width: 100%;
    height: 20%;
    border: 1px solid #CCC;
    background-color: #E0E0E0;
    padding: .5em;
    overflow: hidden;
}
.derechaHead{
    float: right;
}
/* cierra estilos del header*/
/*Cuerpo de pagina*/
.izquierda{
    width: 50%;
    height: auto;
    padding: 1%;
    border: 1px solid black;
    float: left;
    text-align: justify;
}
.derechaBody{
    width: 50%;
    height: auto;
    padding: 1%;
    text-align: center;
    border: 1px solid black;
    float: right;
}






#dividir{
    width: 45%;
    height: auto;
    border: 1px solid black;
    margin-top: 1%;
    margin-left: 2.4%;
    margin-right: 2.4%;
    display: inline-block;
    text-align: center;

}
h1{
    color: tomato;
}
/*cierra cuerpo de pagina*/
/* estilos del footer */
/* cierra estilos del footer */
